<h2>Questions</h2>

<div id="question_cont">
  
  
  <!-- Each question we will create a form that will do an ajax submit of the form -->
  
  <% @questions.each do |q| %>
  <div class="form_<%= q.id %>">
    <%= form_for q do |f| %>
    <p><%= q.question %></p>
      <%= select("post", "answer", q.panswers.collect { |p| [ p.p_answer, p.id ] }, {}, { :size => q.panswers.count } ) %>
    <% end %>
  </div>
  <% end %>
  
</div>