.hide {
  display: none;
}

.clear {
  clear: both;
}

P, label {
  color: #fff;
}

body { 
 background-color: #312F36;  
}

h1 {
  color: #0C83B4;
}

h2 {
  font-size: 3em;
  text-align: center;
  color: #0C83B4;
}

.wrapper {
  width: 960px;
  margin: 0px auto;
}

.pipe {
  color: #1ABF93;
}

a.button {
  background-color: #9FFF4A;
  padding: 10px 15px;
  border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
  text-decoration: none;
}

a.button:hover {
  background-color: #1ABF93;
  transition: box-shadow 0.2s ease-in-out;
      -moz-transition: -moz-box-shadow 0.2s ease-in-out;
      -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
}

/* Questions page */

#question_cont {
  border: 3px #6C9AA8 solid;
  padding: 15px;
  text-align: center;
  min-height: 400px;
}

#question_cont p {
  font-weight: bold;
  font-size: 2em;
  color: #B2ADAC;
}

#question_cont form {
  margin-bottom: 25px;
}

#question_cont select {
  min-width: 200px;
  font-size: 20px;
  padding: 7px;
}

#congrats {
  font-size: 40px;
  color: #1ABF93;
}

/* Answers Page */

#answers_list ol,li {
  margin-left: 120px;
  padding: 7px;
  color: #FFF;
  font-size: 1.2em;
}

#answers_list li a {
  color: white;
  text-decoration: none;
}

#answers_list li a:hover {
  color: #1ABF93;
  background-color: transparent;
}

/* single results */
#results h3 {
  color: #fff;
  margin-left: 110px;
}

#result_cont a {
  margin-left:  100px;
}

#results, #google_graph {
  margin-bottom: 20px;
}

#google_graph img {
  margin-left: 100px;
  border: 2px solid #1ABF93;
}


/* ADMIN STYLES */

#question_headers ul {
  margin-left: 140px;
  list-style-type: none;
}

#question_headers li {
  display: inline;
  margin-right: 60px;
  color: black;
}
.edit_options ul {
  padding: 0px;
  margin: 0px;
}
.edit_options li { 
  display: inline; 
  list-style-type: none; 
  margin: 0 10px 0 0;
}

.edit_options li a {
  font-size: 0.8em;
  text-decoration: none;
  padding: 3px;
}




